header {
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
}
header>div{height: 100%;}
header .header-btns {
  position: absolute;
  top: 50%;
  right: 1em;
  transform: translateY(-50%);
}
.logo {
  max-width: 100px;
}
.return-link {
  position: absolute;
  top: 50%;
  left: 1em;
  transform: translateY(-50%);
}


@media (min-width: 768px) {
  header {
    position: relative;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.19));
    font-size: 18px;
    height: fit-content;
  }
  header>div{height: unset;}
  header .header-btns {
    position: relative;
    transform: unset;
  }
  nav a:not(:first-child) {
    margin-left: 1em;
  }
}
@media (min-width: 992px) {
  nav a:not(:first-child) {
    margin-left: 2em;
  }
}


.banner {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.21) 100%), #127056;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
@media (min-width: 768px) {
  .banner {box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.5);}
  .banner img {
    margin-bottom: -3em;
  }
}


.grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:repeat(6, auto);
  grid-gap: 40px 0px;
  padding-left: 0;
  padding-right: 0;
}
.grid > * { min-width: 0; }
.grid > section {
  padding-left: 12px;
  padding-right: 12px;
}
#sec-1 {
  grid-column: 1/2;
  grid-row: 1/2;
}
#sec-2 {
  grid-column: 1/2;
  grid-row: 2/3;
}
#sec-3 {
  grid-column: 1/2;
  grid-row: 3/4;
}
#sec-4 {
  grid-column: 1/2;
  grid-row: 4/5;
}
#sec-5 {
  grid-column: 1/2;
  grid-row: 5/6;
}
#sec-6 {
  grid-column: 1/2;
  grid-row: 6/7;
  padding-left: 0px;
  padding-right: 0px;
}
.final-form {
  background-color: rgb(var(--rgb-color-2) / 8%);
}
@media (min-width: 576px) {
  .grid > section {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (min-width: 768px) {
  #sec-6 {
    padding-left: 24px;
    padding-right: 24px;
  }
  .final-form {
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
}
@media (min-width: 992px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, auto);
  }
  #sec-1 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  #sec-2 {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  #sec-3 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  #sec-4 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  #sec-5 {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  #sec-6 {
    grid-column: 2/3;
    grid-row: 2/6;
    height: fit-content;
  }
}
@media (min-width: 1400px) {
  .grid {grid-gap: 60px 0px;}
}

.map {
  border-radius: 10px;
  overflow: hidden;
}

.switch_btns {
  overflow-x: auto;
}
.switch {
  color: #484848;
  white-space: nowrap;
  padding: 1em 0;
}
.switch.active {
  color: var(--color-1);
}
.box {
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width: 100%;
}
@media (min-width: 992px) {
  .box {
    box-shadow: none;
  }
}


/* sec 7 */
article.preview {
  position: relative;
  margin-bottom: 1em;
  padding: .5em;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
article.preview img {
  width: 100%;
  height: 33vw;
  object-fit: cover;
  border-radius: 10px;
}
article.preview time {
  display: block;
  font-size: .9em;
}
article.preview h3 {
  font-size: 1em;
  font-weight: 400;
  color: #3C3939;
  margin-bottom: .5rem;
  line-height: 1.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 3rem;
}
article.preview .text {
  display: none;
}
article.preview .stretched-link {opacity: 0;}

article.full time {display: block;}
article.full .img-left, article.full .img-right {
  width: 100%;
  height: 45vw;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 1.5rem;
}
article.full p {
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 576px) {
  article.preview .text {
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 3rem;
  }
  article.preview h3 {
    font-size: 1.1em;
    font-weight: 500;
    color: #000;
  }
  article.preview .text p {
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 768px) {
  article.preview {
    padding: 0;
    box-shadow: unset;
    margin-bottom: 1.5em;
    border-radius: 0;
  }
  article.preview img {
    height: 240px;
    border-radius: 0;
  }
  article.preview time {font-size: 1em;}
  article.preview h3 {
    font-size: 1.2em;
    margin-bottom: .7em;
  }
  article.preview .text {
    -webkit-line-clamp: 4;
    height: 6rem;
  }
  article.preview .stretched-link {opacity: 1;}
  article.full .img-left, article.full .img-right {
    width: 35%;
    height: auto;
    margin-bottom: 2em;
    border-radius: 0px;
  }
  article.full .img-left {
    float: left;
    margin-right: 2em;
  }
  article.full .img-right {
    float: right;
    margin-left: 2em;
  }
}
@media (min-width: 992px) {
  article.preview img {height: 290px;}
  article.preview h3 {font-size: 1.3em;}
  article.preview .text {
    -webkit-line-clamp: 6;
    height: 9rem;
  }
}
@media (min-width: 1200px) {
  article.preview img {height: 350px;}
  article.preview h3 {font-size: 1.4em;}
  article.preview .text {
    -webkit-line-clamp: 8;
    height: 12rem;
  }
}
@media (min-width: 1400px) {
  article.preview img {height: 400px;}
  article.preview h3 {font-size: 1.5em;}
  article.preview .text {
    -webkit-line-clamp: 10;
    height: 15rem;
  }
  article.full .img-left, article.full .img-right {margin-bottom: 3em;}
}


.swiper-1 {
  width: 100%;
  height: calc(17.6em + 66px);
  position: relative;
  overflow: hidden;
  padding-bottom: 30px;
}
.swiper-slide {
  height: calc((100% - 36px) / 4);
}
.swiper-container-horizontal>.swiper-pagination-bullets {
  bottom: 0;
}
.swiper-pagination-bullet {
  background: #C4C4C4;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background: #E3AC41;
}
@media (min-width: 992px) {
  .swiper-1 {
    display: none;
  }
}

/* radiobutton customization */
.radio {
  position: relative;
}
.radio input[type="radio"] {
  appearance:none;
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  box-shadow: none;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.radio input[type="radio"] + div {
  border: 1px solid #484848;
  color: #484848;
  padding: .4em;
  line-height: 1.15em;
  border-radius: 4px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.radio input[type="radio"]:checked + div {
  border: 1px solid var(--color-1);
  color: var(--color-1);
}
@media (min-width: 992px) {
  .radio input[type="radio"] + div {
    border: 1px solid transparent;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
}


input[type="date"]::-webkit-calendar-picker-indicator {
  background-image: url('../images/icons/calendar2.svg');
  width: 16px;
  height: 16px;
  cursor: pointer;
}
input[type="time"]::-webkit-calendar-picker-indicator{
  background-image: url('../images/icons/clock2.svg');
  width: 16px;
  height: 16px;
  cursor: pointer;
}


footer.mobile {
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  min-height: 65px;
}
/* footer.mobile a {
  display: flex;
  align-items: ;
} */
footer.mobile a svg {
  width: 1.5em;
  height: 1.5em;
  fill: none;
}
footer.mobile a svg path {
  stroke: #838383;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
}
footer.mobile a.active svg path {
  stroke: var(--color-1);
}


footer.desktop {
  background-color: #484848;
  color: #fff;
}
.developers {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.developers img {
  width: 50px;
  margin-left: 10px;
}


/* custom select */
.custom-select {
  width: fit-content;
  max-width: 200px;
  position: relative;
}
.custom-select button {
  position: relative;
  z-index: 1;
  background-image: url(../images/icons/down.svg), url(../images/icons/arrow.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - .3em) 50%, calc(0% + .3em) 50%;
  background-size: 8px, 13px;
  padding-left: 1.25em;
  padding-right: 1em;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.custom-select .options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  min-width: 300px;
  max-height: 400px;
  overflow: hidden;
  background: #FFFFFF;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.19));
  display: none;
  z-index: 2;
}
.custom-select .options .radio {position: relative;}
.custom-select .options .radio input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
}
.custom-select .options .radio input:checked + label {font-weight: 700;}
.custom-select .options .radio label {
  position: relative;
  z-index: 1;
  text-align: left;
  justify-content: flex-start;
}


/************  
SEARCH / FILTER 
*************/
input.search-in-list{
  margin-bottom: .5em;
  width: 100%;
  outline: none;
}
.overlap {display: block !important;}
.diff {display: none !important;}


/************  
MODAL WINDOWS
*************/
.modal-content {
  position: relative;
  padding: 3em;
  background-color: #fff;
  border: none;
  border-radius: 10px;
}
.btn-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1em;
  right: 1em;
  width: 1.5em;
  height: 1.5em;
  background: none;
  padding: 0;
}
.btn-close svg {
  width: 1.5em;
  height: 1.5em;
  fill: none;
}
.btn-close svg path {
  stroke:#3C3939;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
}
@media (max-width: 767px) {
  .modal-dialog {
    max-width: unset;
    width: 100%;
    height: 100vh;
    margin: 0px;
  }
  .modal-content {
    height: 100vh;
    border-radius: 0px;
    padding: 0;
  }
  .modal-content h3 {
    font-size: 1em;
    height: 40px;
    line-height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 0 3em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .btn-close {
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
  }
}